.customTable {
  display: flex;
  width: 100%;
  .thumbnail {
    width: 24vw;
    height: 24vw;
    background-color: #ccc;
    border-radius: 10px;
  }
  .contentInfo {
    font-size: 28px;
    margin-left: 20px;
    height: 24vw;
    width: calc(100vw - 20px - 24vw);
    background-color: #ccc;
    border-radius: 10px;
    .textContent {
      width: 100%;
      height: 19vw;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow:ellipsis;
    }
    .btnInfo {
      display: flex;
      // float: right;
      height: 5vw;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .btnInfo_l {
        display: flex;
        align-items: center;
      }
      .refresh {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-image: url('../../../../assets/刷新.png');
      }
      .route {
        animation: spin 1s infinite linear;
      }
      // background-color: #000;
      .btnInfo_r {
        float: right;
        display: flex;
        align-items: center;
      }
    }
  }
}
